In [12]:
import numpy as np
import pandas as pd

In [13]:
books=pd.read_csv('Books.csv')
users=pd.read_csv('Users.csv')
rating=pd.read_csv('Ratings.csv')

C:\Users\Lakshita Sharma\AppData\Local\Temp\ipykernel_22308\3296138200.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv('Books.csv')

In [14]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [15]:
ratings.head()

NameError: name 'ratings' is not defined

In [ ]:
print(books.shape)
print(ratings.shape)
print(users.shape)

In [ ]:
books.isnull().sum()

In [16]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [17]:
ratings.isnull().sum()

NameError: name 'ratings' is not defined

In [9]:
books.duplicated.sum()

AttributeError: 'function' object has no attribute 'sum'

In [10]:
ratings.duplicated.sum()

NameError: name 'ratings' is not defined

In [11]:
users.duplicated.sum()

AttributeError: 'function' object has no attribute 'sum'

##popularity based recommender system

In [ ]:
ratinngs_with_name = ratings.merge(books,on='ISBN')

In [5]:
num_rating_df=ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(colums={'Book-Rating':'num_ratings'};inplace=True)
num_rating_df

SyntaxError: invalid syntax (669329999.py, line 2)

In [ ]:
avg_rating_df=ratings_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_rating_df.rename(colums={'Book-Rating':'avg_ratings'};inplace=True)
avg_rating_df

In [ ]:
popularity_df = num_rating_df.merge(avg_rating_df,on='Book-Title')
popularity_df

In [ ]:
popular_df=popular_df[popular_df['num_ratings']]>=250].sort_values(ascending=False).head(50)

In [ ]:
popular_df=popular_df.merge(books,on='Book-Title').drop_dupliactes('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num_ratings','avg_rating']]

In [ ]:
popular_df

## Collaborative Filtering Based Recommending System

In [ ]:
x=ratings_with_name.groupby('User-ID').count()['Book-Rating']>200
padhe_likhe_users = x[x].index

In [ ]:
filtered_rating=ratings_with_name['User-ID'].isin(padhe_likhe_users)

In [ ]:
y=filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books=y[y].index

In [ ]:
final_ratings=filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [ ]:
final_ratings.drop_duplicates()

In [ ]:
pt=final_ratings.pivot_table(index='Book-Title',colums='User-ID',values='Book-Rating')

In [ ]:
pt.fillna(0,inplace=True)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity_scores=cosine_similarity(pt)

In [ ]:
similarity_scores[0]

In [1]:
def recommend(book_name):
    #index fetch
    index= np.where(pt.index=='Zoya')[0][0]
    distances=sorted(list(enumerate(similarity_scores[0])),key=lambda x:x[1],reverse=True)[1:6]

    for i in similar_items:
        print(pt.index[i[0]])
    
    return suggestions

SyntaxError: incomplete input (3416090179.py, line 1)

In [ ]:
recommend()

In [ ]:
np.where(pt.index=='1984')[0][0]